/* Coolors Exported Palette - coolors.co/c9e4ca-87bba2-55828b-3b6064-364958 */

/* COLORS */
$color-primary: #3b6064;
$color-primary-light: #55828b;
$color-primary-dark: #364958;

$color-secondary-light: #c9e4ca;
$color-secondary-dark: #87bba2;

$color-black: #000000;
$color-white: #ffffff;

$color-grey: #cccccc;
$color-grey-light: #faf9f9;
$color-grey-dark: #333333;

/* FONTS */
$default-font-size: 1.6rem;