/* Coolors Exported Palette - coolors.co/c9e4ca-87bba2-55828b-3b6064-364958 */

/* COLORS */
$color-primary: #3b6064;
$color-primary-light: #55828b;
$color-primary-dark: #364958;

$color-green: #55c57a;
$color-red:#ff4830;
$color-purple: #5643fa;
$color-yellow: #ffb900;

$color-black: #000000;
$color-white: #ffffff;

$color-grey: #cccccc;
$color-grey-light: #faf9f9;
$color-grey-light-2: #eeeeee;
$color-grey-dark: #333333;

/* FONTS */
$default-font-size: 1.6rem;