.contact-item {
    display: flex;
    align-items: center;

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-primary-light;
        margin-right: 1rem;
    }

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}