.form-box {
    background-color: $color-grey-light;
    box-shadow: 0 1rem 3rem rgba($color-black, .2);
    border-radius: .5rem;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        display: block;
        width: 100%;
        font-family: inherit;
        font-size: $default-font-size;
        color: $color-grey-dark;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 0.4rem;
        background-color: rgba($color-grey-light-2, .7);
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;
    
        &:valid {
          border-bottom: 0.3rem solid $color-green;
        }
    
        &:focus {
          outline: none;
          box-shadow: 0 .5rem 1rem rgba($color-black, .2);
          border-bottom: 0.3rem solid $color-green;
        }
    
        &:focus:invalid {
          border-bottom: 0.3rem solid $color-red;
        }
    
        &::-webkit-input-placeholder {
          color: $color-grey-dark;
        }
    }
}