.section-about {
    background-color: $color-grey-light;
    padding: 5rem 0 30rem 0;

    &__information {
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        max-width: 160rem;

        &--box {
            width: 50%;
            padding: 2rem 8rem;

            @include respond(tab-port) {
                width: 80%;
                margin: 0 auto;
                padding: 2rem;
            }
        }

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__picture-box {
        text-align: center;

        &--picture {
            width: 80%;
            max-width: 45rem;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-radius: .2rem;
            outline-offset: .2rem;
            opacity: .8;
            transition: all .25s;

            &:hover {
                transform: scale(1.02) translateY(-.5rem);
                box-shadow: 0 2rem 4rem rgba($color-black, .2);
                opacity: .95;
            }
        }
    }

    @include respond(tab-land) {
        padding: 5rem 0 20rem 0;
    }
}

.section-features {
    background-color: $color-grey-light-2;
    padding: 10rem 0 20rem 0;
    transform: skewY(-7deg);
    margin-top: -13rem;

    & > * {
        transform: skewY(7deg);
    }
    
    &__cards {
        padding: 2rem 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 160rem;

        @include respond(phone) {
            padding: 2rem 4rem;
        }
    }

    @include respond(tab-land) {
        padding: 10rem 0 10rem 0;
    }

    @include respond(phone) {
        padding: 7.5rem 0 7.5rem 0;
    }
}

.section-projects {
    background-color: $color-grey-light;
    padding: 23rem 0 10rem 0;
    margin-top: -13rem;

    &__cards {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 160rem;
    }
    
    @include respond(phone) {
        padding: 20rem 0 7.5rem 0;
    }
}

.section-contact {
    background-color: rgba($color-primary-light, .09);
    padding: 5rem 0 10rem 0;

    &__information {
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        max-width: 160rem;

        &--box {
            width: 50%;
            padding: 4rem 8rem;

            @include respond(tab-land) {
                width: 100%;
            }

            @include respond(phone) {
                padding: 4rem;
            }
        }

        @include respond(tab-land) {
            flex-direction: column;
        }
    }


}