.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
        url(../assets/header.jpg);
    background-position: top;
    background-size: cover;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo {
        height: 6rem;
        width: 6rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &--buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(tab-land) {
                flex-direction: column;
            }
        }
    }
}